---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Harold Camacho</div>
    <div class="py-2">
      <text class="text-lg">
        I am a software engineer passionate about solving complex challenges with creativity and attention to detail. With hands-on experience across a broad spectrum of technologies, I thrive on continuous learning and innovation. I take pride in collaborating with diverse, global teams to deliver impactful solutions and drive meaningful results.
        
        <p class="text-lg mt-8"> Most recently, I developed <a href="https://splinter-app.github.io/"><b>Splinter</b></a>, an open-source pipeline designed to simplify the ingestion and processing of unstructured data for AI/ML workflows.</p>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:harold.camacho.diaz@gmail.com" target="_blank"> Let's connect!</a>
      <a href="/Harold_Camacho_Resume.pdf" target="_blank" class="btn btn-outline ml-5">
        View Resume
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Project Spotlight {"</>"}</div>
  </div>

  <HorizontalCard
    title="Splinter"
    img="/OriginalLogo.png"
    desc="Splinter is an open-source ingestion pipeline designed to transform unstructured data into vectorized formats for integration with knowledge bases. By automating document ingestion and vector embedding, Splinter enables teams to easily convert raw, unstructured content into a format optimized for AI and machine learning applications."
    url="https://splinter-app.github.io/"
  />

  <div class="mt-8 ">
    <a href="/projects" class="btn btn-outline ml-5">View More Projects</a>
  </div>
</BaseLayout>
