---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>
  <HorizontalCard
    title="Splinter"
    img="/OriginalLogo.png"
    desc={`An open-source ingestion pipeline designed to transform unstructured data into vectorized formats for integration with knowledge bases.\nBuilt with: AWS CDK, Lambda, S3, Batch, API Gateway, DynamoDB, Pinecone, MongoDB, PostgreSQL, Dropbox API, Python, TypeScript, React`}
    url="https://splinter-app.github.io/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="RequestFlow"
    img="/requestFlow.png"
    desc={`A web service that allows users to create custom endpoints to collect and inspect HTTP requests -- enabling the testing and debugging of APIs, webhooks, and other HTTP-based services. Built with: Digital Ocean, Nginx, Socket.io, PostgreSQL, MongoDB, Node.js, Express, React`}
    url="https://github.com/camachoh1/requestflow-backend"
  />
  <HorizontalCard
    title="ZeldaBot"
    img="/triforce-zelda-pixel-art.jpg"
    desc={`ZeldaBot is a RAG-powered AI chatbot that answers questions and guides players through The Legend of Zelda games. I built a custom data pipeline that scrapes guides, transforms them into structured markdown, creates semantic chunks with LangChain, embeds them using OpenAI, and stores everything in PostgreSQL + PGVector for accurate retrieval. Built with Python, BeautifulSoup, LangChain, LangExtract, PostgreSQL, PGVector, and Gradio.`}
    url="https://github.com/camachoh1/zelda_bot"
  />
  <HorizontalCard
    title="Simple Active Record ORM"
    img="/Ruby_logo.png"
    desc={`A Ruby-based ORM following Active Record principles for streamlined database interactions. Built with:
    Ruby, PostgreSQL, PG`}
    url="https://github.com/camachoh1/ORM"
  />
</BaseLayout>
